<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/allsw.css">
  <link rel="stylesheet" type="text/css" href="./css/w3.css">
</head>
<body>
  <div class="w3-container container-margin1 container-top3 w3-red">
    <button class="w3-button w3-black" type="button" style="margin-bottom: 5px;" onclick="location.href='/usr'">Usuários</button>
  </div>
  <div class="w3-container container-margin1 container-top3 w3-red">
    HOME
  </div>
</body>
</html>