<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/allsw.css">
  <link rel="stylesheet" type="text/css" href="./css/w3.css">
</head>
<body>
  <div class="w3-container container-margin1 container-top3">
    <table class="w3-table-all">
      <thead>
        <tr class="w3-red">
          <th>Código</th>
          <th>Nome</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dados</td>
          <td>dados</td>
        </tr>
        <tr>
          <td>dados</td>
          <td>dados</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>