<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Cadastro</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/allsw.css">
  <link rel="stylesheet" type="text/css" href="./css/w3.css">
</head>
<body>

  <% if (req.query.act != 'INC') { %>

    <div class="w3-container container-margin1 container-top3">
      <div>
        <button class="w3-button w3-red" type="button" style="margin-bottom: 5px;" onclick="location.href='/usr?act=INC'">Incluir</button>
      </div>
      <table class="w3-table-all">
        <thead>
          <tr class="w3-red">
            <th>Código</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          <% for (var x in dados) { %>
            <tr>
              <td><%= dados[x].USR_ID %></td>
              <td><%= dados[x].USR_NOME %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  <% } else { %>

    <%
    var Acao; 
    if (req.query.act == 'INC') {
      Acao = 'GRI';
    } else if (req.query.act == 'ALT') {
      Acao = 'GRA';
    } else if (req.query.act == 'EXC') {
      Acao = 'GRE';
    }
    %>
    <div class="w3-container container-margin1 container-top3">
      
      <form action="/usr" method="post">
        <input type="hidden" name="act" value="<%= Acao %>">
        <input type="text" id="USR_NOME" name="USR_NOME" placeholder="Nome de usuário">
      
        <button class="w3-button w3-red" type="submit">Salvar</button>
      </form>

    </div>

  <% } %>
</body>
</html>